doctype html
html
    head
        meta(charset="utf-8")
        title ТЗ
        meta(content="" name="author")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        //- favicon block start
        //- favicon block end

        //link(rel="stylesheet" href="/maps/documentation/javascript/demos/demos.css")

        //link(rel='stylesheet' href='/assets/css/foundation.css')
        link(rel='stylesheet' href='./css/style.css')
        //script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")

        script(src='/assets/js/foundation.js' defer)
        script(src='/assets/js/app.js' defer)

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->

    body
        //header.header
        //    p.header__text Capture Mac desktop, movies and live streams with sound at 60 fps! Save recordings in iPod, iPad, & iPhone formats
        //    button.header__bitton Buy at 50% OFF
        //    p.header__text A special discount for our mobile visitors:
        //        span.header__text_old-price $29.95
        //        span.header__text_new-price $14.95
        .wrapper
            .empty

        footer.footer
