.content {
  display: table;
  padding: 20px;
  width: 100%;

  @include laptop {
    display: block;
  }

  @include tablet {
    padding-left: 0;
    padding-right: 0;
  }
}

.content__items-wrapper {
  display: table-cell;
  @include clearfix();
  height: 100%;
  width: 50%;

  @include laptop {
    display: table;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
  }

  @include tablet {
    display: block;
    margin: 0;
    
    &:last-child {
      .item:last-child {
        .content__item {
          border: none;
        }
      }
    }
  }
}

.item {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  width: 50%;
  height: 100%;


  @include laptop {
    display: table-cell;
    float: none;
    width: 50%;
  }

  @include tablet {
    display: block;
    width: 100%;
    padding: 0;
  }
}

.content__item {
  border: 1px solid $green;
  border-radius: 6px;
  padding: 10px;
  height: 100%;

  @include tablet {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $green;
  }
}

.content__title {
  margin: 0 0px 5px;
  color:  #212121;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  height: 36px;
  overflow: hidden;
}

.content__picture {
  height: 130px;
  background: url(../img/content/sprites.png) no-repeat;
  margin: auto;
  max-width: 100%;
}

.content__picture_screen-1 {
  background-position: 0 -1px ;
  width: 210px;

  //@include laptop {
  //  width: 100%;
  //}
}

.content__picture_record{
  background-position: -250px 0;
  width: 172px;
  //@include laptop {
  //  width: 100%;
  //}
}

.content__picture_video{
  background-position: 0 -150px ;
  width: 184px;
  //@include laptop {
  //  width: 100%;
  //}
}

.content__picture_screen-2{
  background-position: -250px -150px ;
  width: 138px;
  //@include laptop {
  //  width: 100%;
  //}
}

.content__picture {
  @include desctop {
    max-width: 100%;
  }
}