.content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;

  @include tablet {
    padding-left: 0;
    padding-right: 0;
  }
}

.content__item {
  margin-left: 5px;
  margin-right: 5px;
  width: calc(25% - 10px);
  border: 1px solid $green;
  border-radius: 6px;
  padding: 10px;

  @include laptop {
    width: calc(50% - 10px);
    margin-bottom: 10px;
  }
  @include tablet {
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $green;

    &:last-child {
      border: none;
    }
  }
}

.content__title {
  margin: 0 0px 5px;
  color:  #212121;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  height: 36px;
  overflow: hidden;
}

.content__picture {
  height: 130px;
  background-repeat: no-repeat;
  margin: auto;
  max-width: 100%;
  background-position: 50% 0;
  background-size: contain;
}

.content__picture_screen-1 {
  background-image: url(../img/content/screens-1.png);
}

.content__picture_record{
  background-image: url(../img/content/record.png);
}

.content__picture_video{
  background-image: url(../img/content/video.png);
}

.content__picture_screen-2{
  background-image: url(../img/content/screens-2.png);
}

.content__picture {
  @include desctop {
    max-width: 100%;
  }
}